@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:#F3F4F6;
    padding: 10px;
    }
    ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #164360; 
  border-radius: 10px;
}

